{% extends 'front/base.html' %} 
{% load static %} 

{% block content %}
<div class="wrapper">
    <div class="profile-content section">
        <div class="container">
            <div class="row">
                <div class="profile-picture">
                    <div class="fileinput fileinput-new" data-provides="fileinput">
                        <br></br>
                        <div class="fileinput-new img-no-padding">
                            <img class = "tengah" src="{% static 'front/img/faces/TRISHA.jpg' %}" alt="...">
                        </div>
                        <div class="name">
                            <h4 class="title text-center">TRISHA<br /><small>1911102441099</small></h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 ml-auto mr-auto text-center">
                    <bold><p>Universitas Muhammadiyah Kalimantan Timur</p></bold>
                    <br />
                </div>
            </div>
            <br />
        </div>
    </div>
</div>
{% endblock content %}